DATABASE_URL="your-database-url"

NEXTAUTH_SECRET="your-nextauth-secret"

NEXTAUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

SMTP_USER="your-email@example.com"
SMTP_APP_PASSWORD="your-app-password"

APP_URL="http://localhost:3000"

AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

LIVEBLOCKS_SECRET_KEY="your-liveblocks-secret-key"